{% extends "base.html" %}

{% block title %}{{ site_header|default:_('Judge Server') }}{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'home' %}">{{ site_header|default:_('Judge Server') }}</a>
    </h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block content %}
    <h1>Result - Class {{ cls.code }} - {{ cls.course }}</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>FullName</th>
            {% for lab in labs %}
                <th>{{ lab.code }}</th>
            {% endfor %}
            <th>Total</th>
        </tr>
        {% for row in results %}
            <tr>
                {% for col in row %}
                    <td>{{ col }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <br/>
    <h1>Submissions History</h1>
    <table>
        <tr>
            <th>Datetime</th>
            <th>Laboratory</th>
            <th>Exercise</th>
            <th>ID</th>
            <th>FullName</th>
            <th>State</th>
            <th>Score</th>
        </tr>
        {% for sbms in submissions %}
            <tr>
                <td>{{ sbms.sDatetime|date:'Y-m-d H:i:s' }}</td>
                <td>{{ sbms.exercise.lab.code }}</td>
                <td>{{ sbms.exercise.code }}</td>
                <td>{{ sbms.student.studentID }}</td>
                <td>{{ sbms.student.fullName }}</td>
                <td><a href="{% url 'judge:submission' sbms.id %}">{{ sbms.state }}</a></td>
                <td>{{ sbms.score }}</td>
                <td><a href="{% url 'judge:rejudge' sbms.pk %}">rejudge</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
